
<!-- home.component.html -->
<div class="container mt-4">
  <!-- Utilisation de Angular Flex Layout pour centrer le contenu -->
    <!-- Barre de navigation Material -->
    <mat-toolbar color="primary">
      <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between center">
        <span>Navbar</span>
        <span fxFlex></span>
        <button mat-button routerLink="catagories">Catagory</button>

        <span fxHide.lt-sm class="spacer"></span>
        
        <button mat-button routerLink="products">Products</button>
        <span fxHide.lt-sm class="spacer"></span>
        <button mat-button routerLink="orders">Orders</button>
        <span fxHide.lt-sm class="spacer"></span>
        <button mat-button (click)="logout()">Logout</button>


      </mat-toolbar-row>
    </mat-toolbar>
    
    <!-- Emplacement pour le contenu dynamique -->
    <router-outlet></router-outlet>
  </div>
 
