  
  <!-- product-details.component.html -->
<div *ngIf="product" class="container">
  <div class="row">
    <div class="col-md-4">
      <div class="card">
        <img [src]="product.image" class="card-img-top" alt="">
        <div class="card-body">
          <h5 class="card-title">{{ product.name }}</h5>
          <p class="card-text">{{ product.description }}</p>
        </div>
        <button (click)="goBackToList()" class="btn btn-info" style="margin-left: 10px">goBack</button>

      </div>
    </div>
  </div>
</div>
