<!-- home.component.html -->
<div class="container mt-4">
    <app-navbar></app-navbar>
    <div class="row">
      <div class="col-md-3">
        <mat-card class="sidebar bg-primary">
          <mat-card-header>
            <mat-card-title>Categories</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <mat-nav-list>
              <a mat-list-item routerLink="/categories">Category 1</a>
              <a mat-list-item routerLink="/categories">Category 2</a>
              <!-- Ajoutez d'autres catégories ici -->
            </mat-nav-list>
          </mat-card-content>
        </mat-card>
      </div>
      <div class="col-md-9">
        <!-- Contenu principal ici -->
        <h1>Welcome to Our E-commerce Website!</h1>
        <!-- Ajoutez le contenu de votre page d'accueil ici -->
      </div>
    </div>
  </div>
  